services:
  postgres:
    image: postgres:15
    container_name: boxhub-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: boxhub
      POSTGRES_USER: gatti
      POSTGRES_PASSWORD: asdf1234
    volumes:
      - boxhub_pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U gatti -d boxhub"]
      interval: 5s
      timeout: 5s
      retries: 20

  redis:
    image: redis:7-alpine
    container_name: boxhub-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "asdf1234"]
    volumes:
      - boxhub_redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "asdf1234", "ping"]
      interval: 5s
      timeout: 5s
      retries: 20

volumes:
  boxhub_pg_data:
  boxhub_redis_data:
